.loaded {overflow:hidden;}
.loaded .main-wrapper { opacity: 0;  }
.loaded-bg {position:fixed;width:100%;height:100%; top:0;left:0; display:none; background-color:#fff;z-index: 200;}
.loaded-bg.show .loaded-img {opacity: 1;}
.loaded-bg.show .loaded-num {opacity: 1; transition-delay: 0.2s;}   
.loaded-bg.show .loaded-line {opacity: 1; transition-delay: 0.1s;}

body.loaded .nav_item1 .path, body.loaded .nav_item2 .path{opacity: 0; }  
body.loaded .nav_item3 a, body.loaded .nav_item4 a {		opacity: 0; }
body.loaded .nav li.active a .fire {   opacity: 0;}
body.loaded .cloud1,body.loaded  .cloud2, body.loaded .cloud3 {opacity: 0; transform: scale(0.75); transform-origin: left bottom;}
body.loaded .welcome .welcome_txt {opacity: 0; left:30px;}
body.loaded .welcome .slick-dots {opacity: 0;}
body.loaded .stories_item {opacity: 0;}


.loaded-bg_wrap { position:absolute; width:100%;height:100%; top:0;left:0;padding-left: 472px;
display: -ms-flexbox;    display: -webkit-flex;    display: flex;
-webkit-flex-direction: column;    -ms-flex-direction: column;    flex-direction: column;
-webkit-align-items: stretch;    -ms-flex-align: stretch;    align-items: stretch;
-webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;}
.loaded-cont {height:343px; width: 680px;padding: 296px 0 0 0px; margin:0 auto;     transition: opacity 0.3s linear;
display: -ms-flexbox;    display: -webkit-flex;    display: flex;
    -webkit-flex-direction: row;    -ms-flex-direction: row;    flex-direction: row;
    -webkit-flex-wrap: nowrap;    -ms-flex-wrap: nowrap;    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;    -ms-flex-pack: end;    justify-content: flex-end;
    -webkit-align-content: stretch;    -ms-flex-line-pack: stretch;    align-content: stretch;
    -webkit-align-items: flex-start;    -ms-flex-align: start;    align-items: flex-start;
}
.loaded-cont.hide {opacity: 0;}
.loaded-img {transition: all 0.3s linear;opacity: 0;width:300px;height:326px;position:absolute;left:50%;top:50%; margin-left: -150px; margin-top: -163px; background: url(../svg/nib.svg) no-repeat 0 bottom; background-size: 100%;}
.loaded .loaded-bg{display:block;}
.loaded-num {transition: all 0.3s linear;opacity: 0;font-size: 34px;line-height: 140%;width: 101px; text-transform: uppercase;color: #141414; font-weight: bold;}
.loaded-line {transition: all 0.3s linear;opacity: 0;height: 3px;background:#F2ECE9;width:570px; margin-top: 32px;}
.loaded-line span {display: block; height: 100%;width:0; background: #141414;}

@media screen and (max-width: 1279px) {  
	.loaded-cont { padding: 296px 0 0 0px;}
	.loaded-bg_wrap {padding-left: 172px;}
	.loaded-img {  margin-left: -450px;}
}
@media screen and (max-width: 1023px){
	.loaded-img {  margin-left: 0;    left: 15px;}
	.loaded-bg_wrap {padding-left: 27px;}
}
@media screen and (max-width: 767px){
	.loaded-cont {width:auto; padding: 85px 0 0 15px; height: 170px; margin: 0;}
	.loaded-line {width:auto;flex-grow: 1;}
	.loaded-num {    font-size: 22px;    width: 67px;    margin-top: 12px;}
	.loaded-bg_wrap {padding-right: 15px;}
	.loaded-img {width:160px;    height: 200px;}
}