/* reset */
$min-width: 320px; 
$max-width: 100%; 
$base-bg: #fff;; 
$base-font-size: 15px;   
$base-line-height: 1.55; 
$base-font-family: 'Gilroy', sans-serif; 
$custom-font-family: 'PlayfairDisplay', sans-serif; 
$link-color: #C84B06;  
$default-transition:all 0.3s linear;

/* main variables */

//text, titles   
$text-color:#141414;
$title-color: #141414;
$title-font-family: $custom-font-family;

$font-size-h1: 68px;
$line-height-h1: 1;
$font-size-h2: 58px;
$line-height-h2: 1.4;
$font-size-h3: 18px;   
$line-height-h3: 1.4;
